/*@font-face*/
@font-face {
	font-family: 'champagne & limousines';
	src: url('../fonts/champagne__limousines-webfont.eot');
    src: url('../fonts/champagne__limousines-webfont.woff') format('woff'),
		 url('../fonts/champagne__limousines-webfont.woff2') format('woff2'),
		 url('../fonts/champagne__limousines-webfont.ttf') format('truetype');
}	
@font-face {
	font-family: 'champagne & limousines bold';
	src: url('../fonts/champagne__limousines-bold-webfont.eot');
    src: url('../fonts/champagne__limousines-bold-webfont.woff') format('woff'),
		 url('../fonts/champagne__limousines-bold-webfont.woff2') format('woff2'),
		 url('../fonts/champagne__limousines-bold-webfont.ttf') format('truetype');
}

/*Global*/
.bgcolor {
	background-color: #1a1a1a;	
}
#uxSitemap {
	color: #fff;
}
#colorAndFont {
	color: #fff;
	padding-top: 0;
}
#colorAndFont .project_content {
	margin: 0 auto 50px;
}
#visualDesign .project_content {
	margin: 0 auto 50px;
}
#visualDesign {
	color: #fff;
	padding-top: 0;	
}
#visualDesign h3 {
	text-align: center;	
}
#uxSitemap p {
	margin: 0 auto 50px;
}
#wires{
	margin-top: 50px;
}
#wires img {
	width: 100%;	
}
#clientSurvey {
	padding-top: 0;	
}
#uxSitemap h3 {
	margin-top: 0;
}
#colorAndFont h3 {
	margin-top: 0;	
}
#colorAndFont h5 {
	text-align: center;
}
#color {
	overflow: hidden;
	max-width: 400px;
	margin: 0 auto 50px;
	float: none;
}
#color p {
	font-size: 16px;	
}
#visualDesign h3 {
	margin-top: 0;	
}
.title_underline span {
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
}
.typeface_label p{
	font-size: 12px; 	
	font-family: 'roboto';
	font-weight: 100;
}
.border-left p {
	border-left: 1px solid #fff;
	padding-left: 10px;
}
.download_link {
	font-size: 13px;	
	font-family: roboto;
}
.download_link i {
	margin-bottom: 30px;
	margin-right: 20px
}
#visualDesign img{
	width: 100%;
}

.back-to-top a {
	font-size: 1.5em;	
	font-family: 'roboto-light', "Helvetica Neue", Arial, sans-serif;
	text-decoration: none;
	float: right;
}

/*PBK*/
#infoArchProc {
	width: 100%;	
}
#PBKinfoArch img {
	width: 100%;
	margin-top: 50px;
}
#pbkProjectBanner {
	padding-bottom: 0	
}
#palettePbkBlue {
	width: 100%;
	color: #fff;
	background-color: #4163ad;
	height: 200px;
	text-align: center;
	float: left;
}
#palettePbkBlue p {
	padding-top: 175px;
}
#palettePbkGold {
	width: 25%;
	color: #fff;
	background-color: #f0ba1a;
	height: 300px;
	text-align: center;
	float: left;
}
#palettePbkGold p {
	padding-top: 275px;
}
#palettePbkBlack {
	width: 25%;
	color: #fff;
	background-color: #414043;
	height: 300px;
	text-align: center;
	float: left;
}
#palettePbkBlack p {
	padding-top: 275px;
}
#palettePbkWhite {
	width: 25%;
	color: #000;
	background-color: #fff;
	height: 300px;
	text-align: center;
	float: left;
}
#palettePbkWhite p {
	padding-top: 275px;
}
#palettePbkLtBlue {
	width: 100%;
	color: #fff;
	background-color: #6781bd;
	height: 100px;
	text-align: center;
	float: left;
}
#palettePbkLtBlue p {
	padding-top: 75px;
}
#pbkBlues {
	overflow: hidden;
	width: 25%;
	float: left;
}
.typeface_content_40 p {
	font-size: 40px;
	font-weight: 900;
	font-family: Raleway;
	line-height: 1.5;
}
.typeface_content_36 p {
	font-size: 36px;
	font-family: Raleway;
	line-height: 1.5;	
}
.typeface_content_32 p {
	font-size: 32px;
	font-family: Roboto;
	line-height: 1.5;	
}
.typeface_content_18 p {
	font-size: 18px;
	font-family: Roboto;
	line-height: 1.5;	
}
.typeface_content_16 p {
	font-size: 16px;
	font-family: Roboto;
	line-height: 1.5;	
}
#VDlinks {
	text-align: center;
}
/*BimmerUS*/
#BimmerUSinfoArch img {
	width: 100%;
	margin-bottom: 50px;	
}
#paletteBUBlue {
	width: 25%;
	color: #fff;
	background-color: #2677ae;
	height: 300px;
	text-align: center;
	float: left;
}
#paletteBUBlue p {
	padding-top: 275px;
}
#paletteBUGold {
	width: 25%;
	color: #fff;
	background-color: #fbb03b;
	height: 300px;
	text-align: center;
	float: left;
}
#paletteBUGold p {
	padding-top: 275px;
}
#paletteBUBlack {
	width: 25%;
	color: #fff;
	background-color: #333333;
	height: 300px;
	text-align: center;
	float: left;
}
#paletteBUBlack p {
	padding-top: 275px;
}
#paletteBUWhite {
	width: 25%;
	color: #000;
	background-color: #fff;
	height: 300px;
	text-align: center;
	float: left;
}
#paletteBUWhite p {
	padding-top: 275px;
}
#paletteBUBlue {
	width: 100%;
	color: #fff;
	background-color: #6781bd;
	height: 300px;
	text-align: center;
	float: left;
}
#paletteBUBlue {
	overflow: hidden;
	width: 25%;
	float: left;
}
.BUtypeface_content_24 p {
	font-size: 24px;
	font-weight: 500;
	font-family: 'Museo Sans', 'open sans';
	line-height: 1.5;
}
.BUtypeface_content_18 p {
	font-size: 18px;
	font-weight: 300;
	font-family: 'Museo Sans', 'open sans';
	line-height: 1.5;
}
.BUtypeface_content_15 p {
	font-size: 15px;
	font-weight: 300;
	font-family: 'Museo Sans', 'open sans';
	line-height: 1.5;
}
#bimmerCodeSample {
	padding-top: 0;	
}
#bimmerCodeSample h3 {
	color: #fff;	
}
#htmlCodeSample {
	height: 300px;
	overflow: scroll;
}
#cssCodeSample {
	height: 300px;
	overflow: scroll;
}

/*A.Codd*/
.coddImageMain img {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
#aCoddinfoArch img {
	max-width: 100%;
}
#paletteCoddBlack {
	width: 50%;
	color: #fff;
	background-color: #000;
	height: 300px;
	text-align: center;
	float: left;
}
#paletteCoddBlack p {
	padding-top: 275px;
}
#paletteCoddWhite {
	width: 50%;
	color: #000;
	background-color: #fff;
	height: 300px;
	text-align: center;
	float: left;
}
#paletteCoddWhite p {
	padding-top: 275px;
}
.coddTypeface_content_90 p {
	font-family: 'champagne & limousines';
	font-size: 40px;
}
.coddTypeface_content_30 p {
	font-family: 'champagne & limousines';
	font-size: 30px;
}
.coddTypeface_content_20 p {
	font-family: 'champagne & limousines';
	font-size: 20px;
}

/*Resume*/
object {
	margin: 50px 0;	
}

/*Microsoft*/
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #00a4ef url("../img/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	opacity: 0.95;
}

a:hover.back-to-top {
	background-color: #4bace2;
	opacity: 0.95;
}

#MicrosoftHeader i {
	color: #fff;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

#MicrosoftHeader i:hover {
	color: #4bace2;
}

#MicrosoftHeader a {
	position: relative;
	padding: 20px;
	top: 50px;
}

.roleList {
	margin-bottom: 35px;	
}

#microsoftContents #tableOfContents {
	overflow: hidden;
}

#microsoftContents p {
	float: left;
	margin-right: 100px;	
	color: #00a4ef;
	font-size: 1.5em;
}

#microsoftContents a {
	color: #333;	
}

#microsoftContents a:hover  {
	text-decoration: none;
	color: #4bace2;
}

#projects {
	float: left;	
}

#microsoftContents ul {
	padding: 0;
	list-style-type: none;
	line-height: 1.5;
	overflow: hidden;
}

.microsoftProjects .listPosition {
	font-size: 5em;
	color: #00a4ef;
	float: left;
	padding-right: 10px;
	position: relative;
	bottom: 20px;
	clear: both;
}

.project_title {
	font-size: 1.5em !important;
}

.project_title a:visited {
	text-decoration: none;	
}

.project_title a:active {
	text-decoration: none;	
}

.project_list {
	height: 140px
}

.microsoftProjects ul {
	overflow: hidden;
	float: left;
}

.microsoftProjects p {
	display: block;
	overflow: hidden;
}

#verticalIntro {
	height: 400px;
	background: url('../img/finance.jpg');
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center; 
}

#verticalIntro span {
	font-weight: 100;
}

#verticalIntro h1 {
	margin: 0;
	color: #fff;
}

.vertical-content {
	position: relative;	
}

.vertical-content p {
	max-width: 600px;
	margin-bottom: 35px;
}

.vertical-content h3 {
	max-width: 600px;
	font-weight: 600;
	font-size: 2em;
}

.vertical-content .mobile_mock {
	height: 600px	
}

.concept {
	width: 100%;	
}

#fmaIntro {
	height: 400px;
	background-image: url('../img/fmaIntro.jpg');
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: 35px;
}

#fmaIntro h1 {
	margin: 0;
	color: #fff;
}

#fmaIntro span {
	font-weight: 100;
}

#findMyAdvisor blockquote {
	font-family: 'times new roman';
	font-size: 2.25em;
	max-width: 900px;
	margin: 15px auto 35px;
	color: #00a4ef;
	text-align: center;
}

#findMyAdvisor ul {
	list-style-type: circle;
	font-size: 1.25em;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
}

#whiteboard img {
	width: 1000px;
	margin: 35px auto;
}

#fmaWire img {
	width: 1000px;
	margin: 35px auto;
}

#fmaMockup img {
	width: 1000px;
	margin: 35px auto;
}

#fmaProcess {
	background-color: #f2f2f2;
	margin-top: 35px;
}

#fmaProcess h1 {
	font-size: 3em;
}

#fmaProcess h3 {
	font-size: 1.5em;
}

#fmaMobile {
	background-color: #f2f2f2;	
	margin-top: -70px;
}

#fmaMobile h3 {
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 35px;
	max-width: 600px;
}

#fmaConcept h3 {
	margin-bottom: 50px;
	font-size: 1.5em;
	font-weight: 600;
	max-width: 600px;
}

#fmaConcept ul {
	list-style-type: none;
	font-size: 20px;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
}

#fmaConcept li:first-of-type {
	font-weight: bold;
}

#fmaConcept li {
	padding-bottom: 10px;	
}

#fmaConcept ul span {
	font-weight: 600;
}

#fmaConcept iframe {
	transform: scale(.70);
	position: relative;
	top: -130px;
	margin-bottom: -250px;
}

#kycIntro {
	height: 400px;
	background-image: url('../img/kycIntro.jpg');
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	margin-bottom: 35px;
}

#kycIntro h1 {
	margin: 0;
	color: #fff;
}

#kycIntro span {
	font-weight: 100;
}

#knowYourClient blockquote {
	font-family: 'times new roman';
	font-size: 2.25em;
	max-width: 900px;
	margin: 15px auto 35px;
	color: #00a4ef;
	text-align: center;
}

#knowYourClient ul {
	list-style-type: circle;
	font-size: 1.25em;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;
}

#kycSketches img {
	width: 1000px;
	margin: 35px auto;
}

#kycWire img {
	width: 1000px;
	margin: 35px auto;
}

#kycMockup img {
	width: 1000px;
	margin: 35px auto;
}

#kycProcess {
	background-color: #f2f2f2;
	margin-top: 35px;
}

#kycProcess h1 {
	font-size: 3em;
}

#kycProcess h3 {
	font-size: 1.5em;
}

#kycConcept {
	margin-bottom: 35px;	
}

#kycConcept h3 {
	margin-bottom: 50px;
	font-size: 1.5em;
	font-weight: 600;
}

#kycConcept ul {
	list-style-type: none;
	font-size: 20px;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;
}

#kycConcept li:first-of-type {
	font-weight: bold;
}

#kycConcept li {
	padding-bottom: 10px;	
}

#kycConcept ul span {
	font-weight: 600;
}

/*Begin Heuristic Analysis*/
.nonDis {
	font-size: 1.25em;	
	font-family: 'times new roman', 'times', serif;
	line-height: 1.5;
	color: #808080;
}

#heuristicIntro {
	height: 400px;
	background-image: url('../img/heuristicIntro.jpg');
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;	
}

#heuristicIntro h1 {
	margin: 0;
	color: #fff;
}

#heuristicIntro span {
	font-weight: 100;
}

.heuristic-content p {
	max-width: 600px;
	margin-bottom: 35px;
}

.heuristic-content h3 {
	max-width: 600px;
	font-weight: 600;
	font-size: 2em;
}

.heuristic-content p span {
	font-weight: 600;	
}

#tenetsTraps p:nth-child(n+4) {
	margin-bottom: 10px;
}

#tenetsTraps img {
	width: 100%;
	margin: 50px auto;
}

#tenetsTraps p:nth-child(4) {
	margin-top: 20px;	
}


/*Lucidchart*/
#lucidIntro {
	height: 400px;
	background-color: #f78d1e;
	color: #fff;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

#lucidContent ul {
	list-style-type: none;
	font-size: 20px;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;	
	padding: 0;
}

#lucidIntro span {
	font-weight: 100;
}

#lucidContent img {
	width: 100%;
	margin-bottom: 35px;
}

.lucidRecImg {
	margin-top: 20px;	
}

/*End Lucid*/
/*Begin Thomson Reuters*/
#thomReutIntro {
	height: 400px;
	background-color: #ff8029;
	color: #fff;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

#thomReutIntro span {
	font-weight: 100;
}

#thomReutContent ul {
	list-style-type: none;
	font-size: 20px;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;	
	padding: 0;
}

#thomReutContent .thomReutImg {
	margin-top: 20px;
}

.thomReutImg {		
	width: 100%;
	margin-bottom: 35px;
	margin-top: 20px;
}

.thomReutRecImg {
	margin: 35px auto;
	max-width: 312px;
}

/*End Thompson Reuters*/
/*Begin Pickit*/
#pickitIntro {
	height: 400px;
	background-color: #543854;
	color: #fff;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

#pickitIntro span {
	font-weight: 100;
}

#pickitContent ul {
	list-style-type: none;
	font-size: 1.5em;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;	
	padding: 0;
}

.pickitImg {		
	width: 100%;
	margin-bottom: 35px;
	margin-top: 20px;
}

.pickitRecImg {
	margin: 35px auto;
	max-width: 312px;
}

/*End Pickit*/
/*Begin Patterns*/
#patternIntro {
	height: 400px;
	background: url('../img/patternIntro.jpg');
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center; 
}

.patternLink {
	max-width: 600px;
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-size: 1.5em;
}

.patternLink:hover {
	text-decoration: none;	
}

#patternIntro span {
	font-weight: 100;
}

#patternIntro h1 {
	margin: 0;
	color: #fff;
}

.pattern-content {
	position: relative;	
}

.pattern-content p {
	max-width: 600px;
	margin-bottom: 35px;
}

.pattern-content h3 {
	max-width: 600px;
	font-weight: 600;
	font-size: 2em;
}

.pattern-content ul {
	list-style-type: circle;
	font-size: 1.25em;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;
}

#patternContent blockquote {
	font-family: 'times new roman';
	font-size: 2.25em;
	max-width: 900px;
	margin: 15px auto 35px;
	color: #00a4ef;
	text-align: center;
}

.pattern-content ul span {
	font-weight: 600;	
}

/*Begin commands*/
#commandsIntro {
	height: 400px;
	background-color: #00A1F1;
	color: #fff;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

#commandsIntro span {
	font-weight: 100;
}

.commandImg {		
	width: 100%;
	margin-bottom: 35px;
	margin-top: 25px;
}

#commandsContent h4 {
	max-width: 600px;
	margin-top: 20px;
	font-weight: 600;
}

.commandExImg {
	margin: 35px auto;
	max-width: 312px;
}

/*End Commands*/

/*Begin NavPlusComs*/
#navCmdIntro {
	height: 400px;
	background-color: #7CBB00;
	color: #fff;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

#navCmdIntro span {
	font-weight: 100;
}

.navCmdImg {		
	width: 100%;
	margin-bottom: 35px;
	margin-top: 25px;
}

#navCmdContent h4 {
	max-width: 600px;
	margin-top: 20px;
	font-weight: 600;
}

.navCmdExImg {
	margin: 35px auto;
	max-width: 312px;
}

.landscapeNavCmdExImg {
	margin: 35px auto;
	max-width: 600px;
	width: 100%
	
}
/*End Nav Commands*/

/*Begin settings*/
#settingsIntro {
	height: 400px;
	background-color: #FFBB00;
	color: #fff;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

#settingsIntro span {
	font-weight: 100;
}

.settingsImg {		
	width: 100%;
	margin-bottom: 35px;
	margin-top: 25px;
}

#settingsContent h4 {
	max-width: 600px;
	margin-top: 20px;
	font-weight: 600;
}

.settingsExImg {
	margin: 35px auto;
	max-width: 312px;
}

.landscapeSettingsExImg {
	margin: 35px auto;
	max-width: 600px;
}

/*End settings*/

/*Begin multisection*/
#multisectionIntro {
	height: 400px;
	background-color: #F65314;
	color: #fff;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

#multisectionIntro span {
	font-weight: 100;
}

.multiImg {		
	width: 100%;
	margin-bottom: 35px;
	margin-top: 25px;
}

#multiContent h4 {
	max-width: 600px;
	margin-top: 20px;
	font-weight: 600;
}

.multiExImg {
	margin: 35px auto;
	max-width: 312px;
}

.landscapeMultiExImg {
	margin: 35px auto;
	max-width: 600px;
}
/*End multisection*/

/*Begin multisection*/
#feedbackIntro {
	height: 400px;
	background-color: #5c2d91;
	color: #fff;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

#feedbackIntro span {
	font-weight: 100;
}

.feedbackImg {		
	width: 100%;
	margin-bottom: 35px;
	margin-top: 25px;
}

#feedbackContent h4 {
	max-width: 600px;
	margin-top: 20px;
	font-weight: 600;
}

.feedbackExImg {
	margin: 35px auto;
	max-width: 312px;
}

.landscapeFeedbackExImg {
	margin: 35px auto;
	max-width: 600px;
}

/*End multisection*/
/*End Patterns*/

/*Start Icons*/
#iconIntro {
	height: 400px;
	background: url('../img/bgIcons.jpg');
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center; 
}

#iconIntro h1 {
	margin: 0;
	color: #fff;
}

#iconIntro span {
	font-weight: 100;
}

#iconContent p {
	max-width: 600px;
	margin-bottom: 35px;
}

#iconContent h3 {
	max-width: 600px;
	font-weight: 600;
	font-size: 2em;
}

#iconContent ul {
	list-style-type: circle;
	font-size: 1.25em;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;
}

.iconSizeImg {
	margin: 35px auto;
}

#iconContent table {
	max-width: 600px;
	font-size: 1.25em;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 2;
	margin-top: 25px;
}

#iconContent th {
	padding-right: 30px;
	border-bottom: 1px solid #333;
}

/*Begin Generic Launchers*/
#genLaunchIntro {
	height: 400px;
	background-color: #0078d7;
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center; 
}

#genLaunchIntro h1 {
	margin: 0;
	color: #fff;
}

#genLaunchIntro span {
	font-weight: 100;
}

#genLaunchContent p {
	width: 600px;
	margin-bottom: 35px;
}

#genLaunchContent h3 {
	max-width: 600px;
	font-weight: 600;
	font-size: 2em;
}

#genLaunchContent p span {
	font-weight: 600;	
}

#genLaunchContent ul {
	list-style-type: circle;
	font-size: 1.25em;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;
}

.genLaunchImg {
	margin: 35px auto;
	max-width: 100%;
}

/*End Generic Launcher*/

/*Begin Generic Launchers*/
#tableChartIntro {
	height: 400px;
	background-color: #118272;
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center; 
}

#tableChartIntro h1 {
	margin: 0;
	color: #fff;
}

#tableChartIntro span {
	font-weight: 100;
}

#tableChartContent p {
	max-width: 600px;
	margin-bottom: 35px;
}

#tableChartContent h3 {
	max-width: 600px;
	font-weight: 600;
	font-size: 2em;
}

#tableChartContent p span {
	font-weight: 600;	
}

#tableChartContent ul {
	list-style-type: circle;
	font-size: 1.25em;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;
}

.tableChartImg {
	margin: 35px auto;
	max-width: 100%;
}

/*End Generic Launcher*/
/*End Icons*/

/*Start Sample*/
#samplesIntro {
	height: 400px;
	background: url('../img/bgSamples.jpg');
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center; 
}

.samplesLink {
	max-width: 600px;
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-size: 1.5em;
}

.samplesLink:hover {
	text-decoration: none;	
}

#samplesIntro span {
	font-weight: 100;
}

#samplesIntro h1 {
	margin: 0;
	color: #fff;
}

.samplesContent {
	position: relative;	
}

.samplesContent p {
	max-width: 600px;
	margin-bottom: 35px;
}

.samplesContent h3 {
	max-width: 600px;
	font-weight: 600;
	font-size: 2em;
}

/*Begin LinkedIn*/
#linkedInIntro {
	height: 400px;
	background-color: #0077b5;
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center; 
}

#linkedInIntro h1 {
	margin: 0;
	color: #fff;
}

#linkedInIntro span {
	font-weight: 100;
}

#linkedInContent p {
	max-width: 600px;
	margin-bottom: 35px;
}

#linkedInContent h3 {
	max-width: 600px;
	font-weight: 600;
	font-size: 2em;
}

#linkedInContent p span {
	font-weight: 600;	
}

#linkedInContent ul {
	list-style-type: circle;
	font-size: 1.25em;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;
}

.linkedInImg {
	margin: 35px auto;
	max-width: 100%;
}
/*End LinkedIn*/
/*Begin LinkedIn*/
#tableSampIntro {
	height: 400px;
	background-color: #333;
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flexwrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center; 
}

#tableSampIntro h1 {
	margin: 0;
	color: #fff;
}

#tableSampIntro span {
	font-weight: 100;
}

#tableSampContent p {
	max-width: 600px;
	margin-bottom: 35px;
}

#tableSampContent h3 {
	max-width: 600px;
	font-weight: 600;
	font-size: 2em;
}

#tableSampContent p span {
	font-weight: 600;	
}

#tableSampContent ul {
	list-style-type: circle;
	font-size: 1.25em;	
	font-family: 'roboto','Helvetica Neue',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.5;
	max-width: 600px;
	margin-bottom: 35px;
}

.tableSampImg {
	margin: 35px auto;
	max-width: 100%;
}
/*End LinkedIn*/
/*End Sample*/


/*Media Queries*/
@media all and (min-width:768px) {
	.navbar-default {
        border-color: rgba(0,0,0,.3);
        background-color: #fff;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: #000;
    }
	.navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #999;
    }
	.navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #000;
    }
	.navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #999;
    }
	.navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }
}
@media all and (max-width:970px) {
	#pbkProjectBanner img{
		padding: 50px 0;	
	}
}
@media(max-width:768px) {
	#wires img {
		width: 85%;
		margin: 0 7.5% 20px;
	}	
	#visualDesign img {
		width: 85%;
		margin: 0 7.5% 20px;
	}
	#wires div:last-of-type img {
		margin-bottom: 0;
	}
	#typeface .typeface_content_40 p {
		font-size: 30px;
	}
	#typeface .typeface_content_36 p {
		font-size: 27px;
	}
	#typeface .typeface_content_32 p {
		font-size: 24px;
	}
	#typeface .typeface_content_18 p {
		font-size: 13.5px;
	}
	#typeface .typeface_content_16 p {
		font-size: 12px;
	}
}

@media (max-width: 1200px) {
	#fmaConcept iframe {
		margin-top: 25px;	
	}
}

@media (max-width: 780px) {
	#kycConcept iframe {
		transform: scale(0.95);
	}
}

@media (max-width: 750px) {
	#kycConcept iframe {
		transform: scale(0.85);
	}
}

@media (max-width: 590px) {
	#kycConcept iframe {
		transform: scale(0.75);
		position: relative;
		left: -10px;
	}
}

@media (max-width: 557px) {
	#kycConcept iframe {
		transform: scale(0.65);
		position: relative;
		left: -20px;
	}
}
@media (max-width: 530px) {
	#kycConcept iframe {
		position: relative;
		left: -30px;
	}
}

@media (max-width: 498px) {
	#kycConcept iframe {
		position: relative;
		left: -50px;
	}
}

@media (max-width: 480px) {
	#kycConcept iframe {
		position: relative;
		left: -60px;
	}
}

@media (max-width: 468px) {
	#kycConcept iframe {
		position: relative;
		left: -70px;
	}
}

@media (max-width: 455px) {
	#kycConcept iframe {
		position: relative;
		left: -80px;
	}
	
	#fmaConcept iframe {
		position: relative;
		left: -20px;
	}
}

@media (max-width: 440px) {
	#kycConcept iframe {
		position: relative;
		left: -90px;
		transform: scale(0.55);
	}
}

@media (max-width: 429px) {
	#fmaConcept iframe {
		position: relative;
		left: -30px;
	}
}

@media (max-width: 411px) {
	#kycConcept iframe {
		position: relative;
		left: -110px;
		transform: scale(0.55);
	}
}

@media (max-width: 400px) {
	#kycConcept iframe {
		position: relative;
		left: -120px;
		transform: scale(0.55);
	}
	
	#fmaConcept iframe {
		position: relative;
		left: -40px;
	}
}

@media (max-width: 390px) {
	#kycConcept iframe {
		position: relative;
		left: -130px;
		transform: scale(0.45);
	}
	
	#fmaConcept iframe {
		position: relative;
		left: -50px;
		top: -170px;
		transform: scale(0.60);
	}
}

@media (max-width: 380px) {
	#kycConcept iframe {
		position: relative;
		left: -140px;
		transform: scale(0.45);
	}
	
	#fmaConcept iframe {
		position: relative;
		left: -60px;
		top: -200px;
		transform: scale(0.50);
	}
}